@use "./style/variables.scss" as *;
@use "./style/button.scss";

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    background-color: $bg-page;
    color: $text-primary;
    font-family: $font-stack;
}

.highlight{
    color: $accent;
}